.leaflet-container {
  width: 100vw;
  height: 100vh;
}

/* .google-maps{
  z-index: 1;
} */

.on-state{
  width: 54.5%;
}

.sticky {
  position: fixed;
  width: 100%;
}

/* HOVER INFO BOXES */
.hidden{
  display: none!important;
}

.census-info {
  display: flex;
  flex-direction: column;
  align-items: right;
  top: -70px;
  right: 325px;
  padding: 10px 10px;
  border-radius: 5px;
  color: white;
  letter-spacing:2px;
  background: rgba(0,0,0,0.8);
  margin-top: 150px;
  list-style: none;
  /* width: fit-content;
  height: fit-content; */
  font-size: 12px;
  position: absolute;
  z-index: 400;
  box-shadow: 0 0 5px 0 rgba(184, 140, 140, 0.3);
}

.census-info-hover{
  z-index: 400;
  top: -70px;
  right: 325px;
  height: fit-content;
  width: 36%;
  padding: 10px 10px;
  border-radius: 5px;
  color: white;
  position: absolute;
  letter-spacing:2px;
  margin-top: 150px;
  font-size: 14px;
  box-shadow:  0 0 5px 0 rgba(184, 140, 140, 0.3);
  background: rgba(0,0,0,0.8);
}

/* @media (max-width: 768px) {
    .census-info {
    align-items: right;
    top: 120px;
    right: 38px;
    padding: 10px 10px;
    width: 30%;
    height: 15%;
    font-size:8px;
  
  }
  .census-info-hover{
    z-index: 999;
    top: 80px;
    right: 38px;
    height: 15%;
    width:30%;
    padding: 10px 10px;
    border-radius: 5px;
    letter-spacing:1px;
    margin-top:150px;
    font-size:8px;
  }
} */

/* SCROLL MENU */
.scroll-menu{
  width: inherit;
  height: 200px;
}

.left-arrow{
  width: 50px;
  padding: 81px 0px 81px 0px;
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
  float: left;
  display: block;
  cursor: pointer;
}

.right-arrow{
  width: 50px;
  padding: 81px 0px 81px 0px;
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
  float: right;
  display: block;
  cursor: pointer;
}

#dp-container{
  overflow-x: scroll;
  position: relative;
  display: inline-flex;
  width: 85.5%;
  height: 200px;
  text-align: center;
}

.dp-item{
  padding: 2%;
  height: 85%;
  /* width: 100%; */
}

.dp-item:hover{
  background-color: lightgrey;
  cursor: pointer;
}

.dp-selected{
  background-color: grey!important;
}

.pin-icon{
  background-color: white;
  position: absolute;
  padding: 5px;
  font-size: 200%;
  font-weight: 100;
  border: solid 1.5px;
  border-radius: 50%;
}

.pin-icon:hover{
  background-color: #ececec;
  cursor: pointer;
}

.scroll-header{
  margin-left: 2%;
  /* display: block; */
  height: 55px;
}

.dp-info{
  float: left;
  width: 80%;
}

#compare-button{
  display: inline;
  background-color: orange;
}

.underline-on-hover:hover {
  text-decoration: underline
}

.column {
  float: left;
  width: 50%;
}

table {
  border-collapse: collapse;
}

.menu-icon:hover{
  cursor: pointer;
}

.seawulf-desc{
  text-align: justify;
  padding: 10px;
}

.box-whisker{
  width: 85.5%;
  display: block;
}
